@model L2_veterinarija.ViewModels.GyvunasEditViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Gyvūno šalinimas</h2>

<h3>Ar tikrai norite pašalinti gyvūną?</h3>
<div>
    <h4>Gyvūno šalinimas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cipsas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cipsas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rusis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rusis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vardas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vardas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gimimodata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gimimodata)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.svoris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.svoris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fk_seimininkas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fk_seimininkas)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (ViewBag.naudojama != null)
            {
                <h5>ViewBag.naudojama</h5>
            }
            else
            {
                <input type="submit" value="Šalinti" class="btn btn-danger" />
            }
            @Html.ActionLink("Atgal į sąrašą", "Index", "Gyvunas", new { @class = "btn btn-default" })
        </div>
    }
</div>