@model IEnumerable<L2_veterinarija.ViewModels.SaskaitaViewModel>

@{
    ViewBag.Title = "Sąskaitos";
}

<h2>Sąskaitos</h2>

<p>
    @Html.ActionLink("Naujas sąskaita", "Create", "Saskaita", new { @class = "btn btn-success" })
</p>
<table class="table table-striped datatable">
    <thead>
        <tr style="background-color: lightblue">
            <th>
                @Html.DisplayNameFor(model => model.numeris)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mokejimobudas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.svizitas)
            </th>
            <th style="width: 18%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numeris)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mokejimobudas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.svizitas)
            </td>
            <td>
                @Html.ActionLink("Redaguoti", "Edit", new { numeris = item.numeris }, new { @class = "btn btn-primary action" })
                @Html.ActionLink("Šalinti", "Delete", new { numeris = item.numeris }, new { @class = "btn btn-danger action" })
            </td>
        </tr>
        }
    </tbody>

</table>