@model L2_veterinarija.ViewModels.VizitasEditViewModel

@{
    ViewBag.Title = "Vizito redagavimas";

    var psl_k_count = 0;

    var k_count = 0;
}

<h2>Vizito redagvimas</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Vizitas keitimas</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.numeris)

    <fieldset>
        <legend>Vizito informacija</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.sudarymodata, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sudarymodata, new { htmlAttributes = new { @class = "form-control date-picker" } })
                @Html.ValidationMessageFor(model => model.sudarymodata, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vizitodata, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vizitodata, new { htmlAttributes = new { @class = "form-control date-picker" } })
                @Html.ValidationMessageFor(model => model.vizitodata, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.vizitovalanda, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vizitovalanda, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vizitovalanda, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fk_gydytojas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.fk_klientas, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.fk_gydytojas, Model.GydytojaiList, "--------------", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fk_gydytojas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fk_gyvunas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.fk_darbuotojas, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.fk_gyvunas, Model.GyvunaiList, "--------------", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fk_gyvunas, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.busena, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.busena, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.busena, "", new { @class = "text-danger" })
            </div>
        </div>


    </fieldset>

    @{if (Model.prekes != null)
        {
            psl_k_count = Model.prekes.Count;
        }
        else
        {
            psl_k_count = 0;
        }
    }

    @{if (Model.paslaugos != null)
        {
            k_count = Model.paslaugos.Count;
        }
        else
        {
            k_count = 0;
        }
    }




    <fieldset>
        <legend>Papildomos paslaugos</legend>

        <table class="table table-responsive" id="p_tbl">
            <thead>
                <tr>
                    <th>Paslaugos</th>
                    <th style="width: 80px"></th>
                </tr>
            </thead>
            <tbody>
                @{for (int i = 0; i < Model.paslaugos.Count; i++)
                    {
                        <tr>
                            <td>
                                <span class="text-hide sel_element" style="display: none;">@Model.paslaugos[i].fk_paslauga</span>
                                @Html.HiddenFor(model => model.paslaugos[i].fk_priskirtavizitui)
                                @*@Html.HiddenFor(model => model.paslaugos[i].fk_paslauga)*@
                                @Html.DropDownListFor(model => model.paslaugos[i].fk_paslauga, Model.PaslaugosList, "--------------", new { @class = "form-control" })
                            </td>
                            <td><button type="button" class="btn btn-danger" onclick="salinti(this)">šalinti</button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <input type="hidden" disabled value="@k_count" id="hCount" />
        <button type="button" id="prideti" class="btn btn-default pull-right" onclick="uzsakyti2($('#hCount').val());"><i class="glyphicon-plus-sign"></i> Pridėti</button>
    </fieldset>




    <fieldset>
        <legend>Papildomos prekes</legend>

        <table class="table table-responsive" id="paslaugos_tbl">
            <thead>
                <tr>
                    <th>Preke</th>
                    <th style="width: 80px;">Kiekis</th>
                    <th style="width: 80px"></th>
                </tr>
            </thead>
            <tbody>
                @{for (int i = 0; i < Model.prekes.Count; i++)
                    {
                        <tr>
                            <td>
                                <span class="text-hide sel_element" style="display: none;">@Model.prekes[i].fk_preke</span>
                                @Html.HiddenFor(model => model.prekes[i].fk_pridetavizitui)
                                @*@Html.HiddenFor(model => model.prekes[i].fk_preke)*@
                                @*@Html.DropDownListFor(model => model.prekes[i].fk_key, Model.PrekesList, "--------------", new { @class = "form-control" })*@
                                @Html.DropDownListFor(model => model.prekes[i].fk_preke, Model.PrekesList, "--------------", new { @class = "form-control" })
                            </td>
                            <td>@Html.EditorFor(model => model.prekes[i].vienetai, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td><button type="button" class="btn btn-danger" onclick="salinti(this)">šalinti</button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <input type="hidden" disabled value="@psl_k_count" id="aCount" />
        <button type="button" id="prideti" class="btn btn-default pull-right" onclick="uzsakyti($('#aCount').val());"><i class="glyphicon-plus-sign"></i> Pridėti</button>
    </fieldset>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style="margin-top: 5px;">
        <div class="col-md-10">
            <input type="submit" value="Išsaugoti" class="btn btn-success" />
        </div>
    </div>


</div>
}


<div>
    @Html.ActionLink("Atgal į sąrašą »", "Index", "Vizitai", new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function uzsakyti(sk) {
            var tmp_row = `<tr>
                                <td>
                                    <span class="text-hide sel_element"></span>
                                    @Html.DropDownList("prekes[0].fk_preke", Model.PrekesList, "--------------", new { @class = "form-control" })
                                </td>
                                <td><input class="form-control text-box single-line" data-val="true" data-val-number="The field kiekis must be a number." data-val-required="The kiekis field is required." id="prekes_0__vienetai" name="prekes[0].vienetai" type="number" value=""></td>
                                <td><button type="button" class="btn btn-danger" onclick="salinti(this)">šalinti</button></td>
                            </tr>`;

            var new_tmp_row = tmp_row.replace(/\[(0)\]/g, "[" + sk + "]");
            new_tmp_row = new_tmp_row.replace(/\_(0)\_/g, "_" + sk + "_");

            $("#paslaugos_tbl tr:last").after(new_tmp_row);

            $('#aCount').val(Number($('#aCount').val()) + 1);

        }


         function uzsakyti2(sk) {
            var tmp_row = `<tr>
                                <td>
                                    <span class="text-hide sel_element"></span>
                                    @Html.DropDownList("paslaugos[0].fk_paslauga", Model.PaslaugosList, "--------------", new { @class = "form-control" })
                                </td>
                                <td><button type="button" class="btn btn-danger" onclick="salinti2(this)">šalinti</button></td>
                            </tr>`;

            var new_tmp_row = tmp_row.replace(/\[(0)\]/g, "[" + sk + "]");
            new_tmp_row = new_tmp_row.replace(/\_(0)\_/g, "_" + sk + "_");

            $("#p_tbl tr:last").after(new_tmp_row);

            $('#hCount').val(Number($('#hCount').val()) + 1);

        }

        function salinti(btn) {
            $(btn).closest('tr').remove();

            var cnt = 0;

            $("#paslaugos_tbl tbody tr").each(function () {
                var tmp_row = "<tr>" + $(this).html() + "</tr>";
                var new_tmp_row = tmp_row.replace(/\[(.)\]/g, "[" + cnt + "]");
                new_tmp_row = new_tmp_row.replace(/\_(.)\_/g, "_" + cnt + "_");
                $(this).replaceWith(new_tmp_row);
                cnt = cnt + 1;
            });

            $('#aCount').val(cnt);

            $(".sel_element").each(function () {
                $(this).closest("td").find("select").val($(this).text());
            });
        }


        function salinti2(btn) {
            $(btn).closest('tr').remove();

            var cnt = 0;

            $("#p_tbl tbody tr").each(function () {
                var tmp_row = "<tr>" + $(this).html() + "</tr>";
                var new_tmp_row = tmp_row.replace(/\[(.)\]/g, "[" + cnt + "]");
                new_tmp_row = new_tmp_row.replace(/\_(.)\_/g, "_" + cnt + "_");
                $(this).replaceWith(new_tmp_row);
                cnt = cnt + 1;
            });

            $('#hCount').val(cnt);

            $(".sel_element").each(function () {
                $(this).closest("td").find("select").val($(this).text());
            });
        }
    </script>
}